.dataTable {
  @apply h-[550px] p-[20px];

  .title {
    @apply flex w-[100%] justify-between items-center p-[10px] text-[gray];

    .addbutton {
      border: 1px solid green;
      padding: 5px;
      border-radius: 5px;
      font-size: 14px;
      cursor: pointer;
      color: green;
    }
  }

  .cellWithStatus {
    @apply p-[5px] rounded-[5px];

    &.active {
      color: green;
      background-color: rgba(0, 128, 0, 0.05);
    }
    &.passive {
      color: crimson;
      background-color: rgba(247, 165, 165, 0.5);
    }
    &.pending {
      color: goldenrod;
      background-color: rgba(255, 0, 0, 0.05);
    }
  }
}
.cellHeader {
  text-align: center;
}
