.home {
  @apply flex overflow-hidden h-screen;

  .home-container {
    @apply flex-[6] flex flex-col overflow-hidden h-screen;
  }

  .homeWrapper {
    @apply flex gap-4 p-5;
  }

  .chart-wrapper {
    @apply flex p-[20px] pt-0 gap-5;
  }

  .listContainer {
    box-shadow: -2px 4px 10px 1px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: -1px 1px 40px 0px rgba(0, 0, 0, 0.75);
    @apply p-[10px] m-[20px] mt-0;

    .listTitle {
      @apply from-neutral-500 text-gray-500 mb-[15px];
    }
  }
}
